<!-- ======== @Region: #content ======== -->
<div id="signUpContent" ng-controller="SignupController">
	<div class="container">
		<!-- Sign Up form -->
		<div ng-show="confirmationSection == false">
			<form class="form-login form-wrapper form-medium" role="form">
				<h3 class="title-divider">
					<span>Sign Up Free</span>
				</h3>
				<div class="form-group">
					<label class="sr-only" for="signup-email-page">Email
						address {{confirmationSection}}</label> <input type="email"
						class="form-control" id="signup-email-page" ng-model="emailAddr"
						name="emailAddr" placeholder="Email address" required>
						
						<p class="alert-danger">{{duplicateMessage}} </p>
				</div>

				<button class="btn btn-primary" type="button" ng-click="signup()">Sign
					up</button>


				<small>Already signed up? <a href="#"
					class="btn btn-link signup" data-toggle="modal">Login here</a>.
				</small>
			</form>
		</div>
		<div ng-show="confirmationSection == true">
		<form class="form-login form-wrapper form-medium" role="form">
<div class="form-group">
								<h2>Confirm your email address</h2>  <p> We
									have sent a confirmation email to <b> {{emailAddr}} </b>.
							</p><p> Click the confirmation email in the
									link to activate your account.</p>
									<br>
							<p> Didn't receive the email? Check if it
									is in your spam folder.</p>
				</div>
			</form>
		</div>
	</div>


	<script type="text/ng-template" id="signupModal">
        <div class="modal-content">	 
			<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
             </div> 
   			<div class="modal-body">
				<span>Do you want to sign up with the email address below?</span>
				<br>
				<b>{{email}}</b>
				<br>
				<br>
				<span>By Signing up, I agree to <a href="#">terms of service</a></span>
				<br>
				<button class="btn btn-primary" type="button" ng-click="confirmSignUp()">Sign up</button>
				&nbsp;
				<button class="btn " type="button" ng-click="cancel()">Cancel</button>
			</div>
		</div>	
</script>

</div>


